body {
    background-color: rgb(88, 88, 88);
    color: white;
}

.App {
    text-align: center;
}

.taskBg {
    background-color: rgba(128, 128, 128, 0.56);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 20px;
    position: relative;
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskNumber {
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 26px ;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.taskBg .done .taskText{
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .taskText  {
    flex: 1;
}
.taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}

.taskBg .iconsWrap span{
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: rgba(18, 200, 18, 0.907);
}


.taskBg .iconsWrap span:hover {
    color: yellow;
}

.mr-20 {
    margin-right: 20px;
}